# Comparing taggers of Korean

@hyyoka

방대한 텍스트 데이터를 모두 수기로 형태소 태깅을 하는 것은 거의 불가능하다. 따라서, 자연어 처리에서는 자동으로 토큰들에 형태소를 태깅해주는 툴이 존재한다. 이렇게, 원시 말뭉치를 형태소 단위로 쪼개고 각각에 품사 정보를 부착하는 작업을 **형태소 분석(POS-tagging)**이라고 한다. 

이번 포스트에서는 nltk와 KoNLPy의 형태소 분석기를 이용해 영어 텍스트와 한국어 텍스트를 분석해보는 실습을 진행한다. 특히, KoNLPy에는 다양한 형태소 분석기가 존재하므로, 추가적인 2개의 형태소 분석기에 대한 간단한 비교도 진행한다. 

1. Okt(Open Korea Text) :: 전 Twitter
2. Hannanum
3. kkma(꼬고마)

In [ ]:
!pip install konlpy

Collecting konlpy
  Downloading https://files.pythonhosted.org/packages/85/0e/f385566fec837c0b83f216b2da65db9997b35dd675e107752005b7d392b1/konlpy-0.5.2-py2.py3-none-any.whl (19.4MB)
     |████████████████████████████████| 19.4MB 45.8MB/s
Collecting beautifulsoup4==4.6.0
  Downloading https://files.pythonhosted.org/packages/9e/d4/10f46e5cfac773e22707237bfcd51bbffeaf0a576b0a847ec7ab15bd7ace/beautifulsoup4-4.6.0-py3-none-any.whl (86kB)
     |████████████████████████████████| 92kB 10.7MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.19.5)
Requirement already satisfied: tweepy>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (3.10.0)
Collecting JPype1>=0.7.0
  Downloading https://files.pythonhosted.org/packages/cd/a5/9781e2ef4ca92d09912c4794642c1653aea7607f473e156cf4d423a881a1/JPype1-1.2.1-cp37-cp37m-manylinux2010_x86_64.whl (457kB)
     |████████████████████████████████| 460kB 57.8MB/s
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: typing-extensions; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)
Installing collected packages: beautifulsoup4, colorama, JPype1, konlpy
  Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed JPype1-1.2.1 beautifulsoup4-4.6.0 colorama-0.4.4 konlpy-0.5.2

In [ ]:
import pandas as pd
import nltk
import konlpy
from konlpy.tag import Hannanum, Okt, Kkma

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

## 1. Dataload

한국어와 영어 각각에 대한 형태소 분석기의 성능을 비교하기 위해서는 bilingual parallel corpus가 필요하다고 판단했다. 검색해본 결과, 잘 구축된 Eng-Kor Parallel Corpus를 찾을 수 있었다. 사용한 코퍼스의 이름은 세종 영-한 코퍼스이다. 다음은 해당 코퍼스를 다운받은 [링크](http://corpus.mireene.com/download.html#)이다. 이 중, 랜덤한 4개의 샘플을 가져와 kor-eng.txt 라는 파일에 저장했다.

In [ ]:
def read_data(filename):
    with open(filename, 'r') as f:
        data = f.read()
        data = data.split("\n")
        data = [d for d in data if len(d)!=0]
    return data

data = read_data("/content/kor-eng.txt")

kor, eng = [], []
for i in range(len(data)):
    if i%2==0: kor.append(data[i])
    else: eng.append(data[i])

In [ ]:
kor = ['이승기의 앨범']

In [ ]:
eng

## 2. 형태소 분석

#### 2.1 ENG.TXT 형태소 분석

In [ ]:
eng_data = []
for s in eng: 
    tokens = nltk.word_tokenize(s.strip())
    eng_data.append(nltk.pos_tag(tokens))

### 2.2 KOR.TXT 형태소 분석

In [ ]:
okt = []
kkma = []
hannanum = []

for s in kor: 
    okt.append(Okt().pos(s))
    kkma.append(Kkma().pos(s))
    hannanum.append(Hannanum().pos(s))

## 3. 형태소 분석 결과

okt 형태소 분석기는 정말 단순한 결과만을 반환하므로 분석의 대상에 포함시키지 않았다.

In [ ]:
df1 = pd.DataFrame([okt[0], kkma[0], hannanum[0]], index=["okt","kkma", "hannanum"])
df1

                    0          1           2
okt       (이승기, Noun)  (의, Josa)  (앨범, Noun)
kkma        (이승, NNG)  (기의, NNG)   (앨범, NNG)
hannanum     (이승기, N)     (의, J)     (앨범, N)

첫 번째 문장을 확인해본 결과, 대체적으로 좋은 성능을 보였다. 

- 영어 텍스트의 경우 </br>
    Miracle을 NNP로 태깅한 것, Han River를 나눈 것, 또한 나누어 River를 NNP로 태깅한 것 외에는 큰 문제가 보이지 않았다. 해당 문제들은 모두 대문자로 시작한 것 때문에 NNP로 태깅한 것으로 보인다. 또한 Han River와 같은 여러 개의 단어로 이루어진 표현들도 문제가 되는 것으로 파악되었다. 

- 한국어 텍스트의 경우 </br>
     - kkma </br>
        라인강을 나눈 것, 이룩하다에서 이룩은 어근이지 명사+하다가 아니다. 
     - hannanum </br>
     마찬가지로 이룩을 명사로 본다.

In [ ]:
df2 = pd.DataFrame([eng_data[1], okt[1], kkma[1], hannanum[1]], index=["Eng", "okt","kkma", "hannanum"])
df2

                    0          1           2   ...       40         41      42
Eng       (During, IN)  (the, DT)  (past, JJ)  ...     None       None    None
okt         (한국, Noun)  (은, Josa)  (지난, Noun)  ...     None       None    None
kkma         (한국, NNG)    (은, JX)    (지나, VV)  ...  (., SF)       None    None
hannanum       (한국, N)     (은, J)     (지나, P)  ...   (하, X)  (었습니다, E)  (., S)

[4 rows x 43 columns]


두 번째 문장을 확인해본 결과, 영어는 여전히 좋은 성능을 보이지만, 한국어 형태소 분석기 중 hannanum에서 치명적인 오류가 발견되었다. 

- 영어 텍스트의 경우 </br>
Again은 adverb이다. 그런데 명사로 태깅되었다. 

- 한국어 텍스트의 경우
    - kkma </br>
    동안과 아시아가 동일하게 태깅되었다. -적의 경우, 명사와 -적을 나눌 필요가 있으나 형태소 분석 단위에서 이를 수행하지 않았다. 
    - hannanum </br>
    위기라는 명사를 위(N), 이(J), 기(E)로 태깅하였다. 
    그리고(M)을 그, 이, 리, 고로 나누어 태깅하였다.

In [ ]:
df3 = pd.DataFrame([eng_data[2], okt[2], kkma[2], hannanum[2]], index=["Eng", "okt","kkma", "hannanum"])
df3

                     0          1   ...             44      45
Eng         (When, WRB)  (the, DT)  ...  (billion, CD)  (., .)
okt       (97년, Number)  (말, Noun)  ...           None    None
kkma           (97, NR)   (년, NNM)  ...           None    None
hannanum       (97년, N)     (말, P)  ...           None    None

[4 rows x 46 columns]


- 영어 텍스트의 경우
     큰 오류를 찾지 못하였다. 

- 한국어 텍스트의 경우
    - kkma
        과거를 나타내는 어미 '-던'을 더와 ㄴ으로 나누었다. 
    - hannanum
    end를 뜻하는 명사 '말'을 용언으로 태깅하였다. 또한 이를 용언으로 태깅해, ㄹ을 추가하였다.

## 4. 평가

전반적으로 영어와 한국어 형태소 분석기 모두 성능이 괜찮다는 것을 확인할 수 있었다. 그러나, 가끔씩 오류가 발생하였다. 

특히 주목해야 할 점은 '-기'와 '-하다' 그리고 여러 개의 단어가 합쳐져 고유한 의미를 가지는 단어들이다. 위의 예시들을 보면 알 수 있듯, '위기'와 같은 오류는 위기를 위 + '-기'로 파악한 결과로 보이며, 예측하건데 명사형 전성어미로 파악한 것같다. 또한, 이룩하다를 어근 이룩과 하다가 아닌 도달하다와 같이 도달+하다로 해석하였다. 이는 모두 규칙 기반에 의한 것으로 보인다. 영어와 한국어의 공통적인 오류는 '한강'과 같은 명사를 나누는데서 발생했다. 

이에 대한 해결책으로는 사전 정보를 더욱 적극적으로 활용하는 것이다. '이룩'이라는 명사가 없으면 수정하는 식으로 개선할 수 있을 것 같다.